<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFC</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <aside id="sticky-social" class="socialContainer">
        <ul>
            <li><a href="#" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
            <li><a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
        </ul>
    </aside>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AFC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Impact" ? "active" : "")">@Html.ActionLink("Impact", "Impact", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FAQ" ? "active" : "")">@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Testimonial" ? "active" : "")">@Html.ActionLink("Testimonials", "Testimonial", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
            @RenderBody()
        <hr />        
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Agents For Change</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
